.filter-options {
    display: flex;
    margin-bottom: 20px;
  }
  
  .filter-group, .filter-sort {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }

.card{
  margin: 10px;
}
  